#about {  
    gap: 40px;
    padding: 150px;
    height: 500px;
}

.contact-hero {
    background-color: rgb(43, 38, 49);
}

.contact-hero-left {
    display: flex;
    justify-content: center;
    gap: 200px;
    height: 150px;
}

.contact-hero-right {
    display: flex;
    justify-content: center;
    gap: 150px;
    
}

#up-logo-hero img {
    position: relative;
    width: 70px;
    height: 70px;
    bottom: 50px;
}

#services{
    display:flex;
    justify-content:center;
    gap:30px;

    
    height: 10px;
}

.service-card{

    width:260px;
    height:320px;

    background:#3d4254;

    border-radius:5px;

    padding:35px;
     
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    transition:.3s;
    position: relative;
    bottom: 270px;
    
}

.service-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.3);

    cursor:pointer;
}

.active{

    background:#d19a27;

    color:white;
}

.service-card h3{
    font-size:32px;
    margin:15px 0;
}

.service-card p{
    color:#d6d6d6;
}

.active p{
    color:white;
}


/*MASIH AGAK MEMBINGUNGKAN TENTANG GIT*/