#hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
    min-height: 50vh;
}

#hero img {
    width: 200px;
    height: 200px;
}

#hero h1 {
    font-size: 25px;
}

