#project{
    padding:120px 0;
}

.project-title{
    margin-bottom:60px;
}

.project-title p{
    color:#f0c44c;
    font-size:15px;
}

.project-title h2{
    font-size:42px;
    color:white;
    margin-top:10px;
}

.project-list{
    display:flex;
    flex-direction:row;
    gap:40px;
}