#project{
    padding:10px 0;
    
    justify-content: center;
    bottom: 230px;
    height: 700px;
}

.project-title{
    margin-bottom:10px;
    text-align: center;
}

.project-title p{
    color:#f0c44c;
    font-size:15px;
}

.project-title h2{
    font-size:42px;
    color:white;
    margin-top:10px;
}

.project-list{
    display:flex;
    flex-direction:row;
    gap:40px;
}

.project-card{
    display:flex;
    align-items:center;
    gap:40px;

    padding:25px;

    border-radius:20px;

    background:#39343c;

    transition:.3s;
}
.project-card img{
    width: 60px;
    height: auto;
    border-radius:15px;
}